.back
	font-weight 700
	font-size 15px
	color var(--dark)
	text-decoration none
	display inline-flex
	align-items center

	svg
		padding 11px
		margin-right 12px
		fill var(--dark)
		border 1px solid #C7C7C7
		border-radius 100%
		transition 0.25s

	&:hover, &:focus
		text-decoration underline

		svg
			border-color var(--dark)
