mixin breadcrumbs(extraClass)
	ul(class="breadcrumbs " + extraClass)
		li.breadcrumbs__item
			a(href="#").breadcrumbs__link Главная
		li.breadcrumbs__item
			a(href="#").breadcrumbs__link Настройки сайта
		li.breadcrumbs__item
			a(href="#").breadcrumbs__link Доступ к сайту
